.wrapper{
    display: flex;
    justify-content: center;

}
.heading{
    font-size: 54px;
    font-weight: 600;
}
.subwrapper{
    display: flex;
    justify-content: space-around;
    gap:31px;
}
.wholewrapper{
    max-width: 1132px;
    margin: 0 auto;

}