.wrapper{
    width: 359px;
    height: 377px;
    border: 1px solid #2E2E2E;
    margin-top: 97px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.wrapper:hover{
    background-color: #2E2E2E;
}

.heading{
    font-size: 24px;
    font-weight: 600;
    margin-top: 28px;
}
.para{
    margin-top: 26px;
    width: 293px;
}

.btnread{
    width: 121px;
    height: 43px;
    margin-top:22px;
}