.wrapper{
    max-width: 1132px;
    margin: 0 auto;
}

.subwrapper{
    display: flex;
    padding-top: 118px;
    justify-content: space-between;
    align-items:  center;
}

.navbar{
    display: flex;
}
.social{
    display: flex;
}

.socialmedia{
    margin-right: 23px;
}

.navbar li{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 79px;
}

.navbar li:last-child{
    margin-right: 0;
}


.copyright{
    display: flex;
    justify-content: center;

}

.copyrightwrapper{
    margin-top: 99px;
    padding-bottom: 99px;
}

.copyrightwrapper li{
    color: white;
font-size: 14px;
font-weight: 400;
line-height: 20px;
word-wrap: break-word;
margin-right: 25px;
}

.copyrightwrapper li:last-child{
    margin-right: 0px;
}