.Section1{
    background-color: black;
    padding-top: 63px;
    padding-bottom: 289.29px;
    width: 100%;
}

.Section2{
    padding-top: 75px;
    width: 100%;
}

.Section3{
    margin-top: 186px;
    width: 100%;
}

.Section4{
    width: 100%;
    margin-top: 179px;
}

.Section5{
    width: 100%;
    margin-top: 186px;
}

.Section6{
  width: 100%;
  margin-top: 118px;
}
.Section7
{
    width: 100%;
    margin-top: 180px;
}