.Section1{
    background-color: black;
    padding-top: 63px;
    padding-left: 153px;
    padding-right: 153px;
    padding-bottom: 289.29px;
}

.Section2{
    padding-left: 153px;
    padding-right: 153px;
    padding-top: 75px;
}